<div class="d-flex text-center container">
    <a asp-controller="Home" asp-action="Index" class="me-3 fs-2">Product</a>
    <a asp-controller="Category" asp-action="Index" class="me-3 fs-2">Categories</a>
</div>