@{
    ViewData["Title"] = "Add Category";
}
@model Category

@await Html.PartialAsync("_Navbar")
<div class="container d-flex justify-content-between">
    <div class="border-end border-5 border-dark w-50">
        <h1 class="display-4">New Product</h1>
        <form asp-controller="Category" asp-action="CreateCategory" method="POST">
            <div class="mb-3">
                <label asp-for="Name">Name </label>
                <span class="text-danger" asp-validation-for="Name"></span>
                <input type="text" asp-for="Name" class="form-control w-50">
            </div>
            <button class="btn btn-success">Create</button>
        </form>
    </div>

    <div class="w-50">
        <h1 class="display-4">All Product</h1>
        @{
            if (ViewBag.allCategories != null)
            {
                @foreach (Category category in ViewBag.allCategories)
                {
                    <p><a asp-controller="Category" asp-action="ShowCategory" asp-route-categoryId="@category.CategoryId">@category.Name</a></p>
                }
            }
        }

    </div>

</div>